@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


:root{
    --orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);

    --fonte-1: 'Lexend Deca', sans-serif;
    --fonte-titulo: 'Big Shoulders Display', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,html{
    width: 97vw;
    height: 100vh;
    background-color: var(--very-light-gray);
    position: relative;
}


.cards{
    width: 300px;
    height: 95%;
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-1{
    background-color: var(--orange);
    border-radius: 8px 8px 0 0;
  
}

.card-2{
    background-color: var(--dark-cyan);
}

.card-3{
    background-color: var(--very-dark-cyan);
    border-radius: 0 0 8px 8px;
}

.card-1,.card-2,.card-3{
    padding: 35px;
    height: 380px;
}

h1{
    font-family: var(--fonte-titulo);
    color: white;
    padding-top: 20px;
    text-transform: uppercase;
}

p{
    font-family: var(--fonte-1);
    color: var(--transparent-white);
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 15px;
}

.botao{
    background-color: white;
    width: 130px;
    padding: 12px;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    
}

.card-1 .botao{
    color: var(--orange);
}
.card-2 .botao{
    color: var(--dark-cyan);
}
.card-3 .botao{
    color: var(--very-dark-cyan);
}

.botao:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

footer{
   position: absolute;
   right: 0;
   left: 0;
   bottom: 0;
   padding: 1rem;
   text-align: center;
}