@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

:root{
    font-family:'Overpass', sans-serif;
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(217, 12%, 63%);
    --mediumGray: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
}

body,html,main{
    background-color: var(--veryDarkBlue);
    width: 98vw;
    height: 96vh;
    position: relative;
}

.conteiner {
    max-width: 350px;
    height: 420px;
    background-color: var(--darkBlue); 
    padding: 30px;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.star{
    background-color: hsl(212, 19%, 29%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 12px;
    padding-left: 12px;
}

h1{
    color: var(--white);
    margin-top: 30px;
    margin-bottom: 25px;
}

p{
    color: var(--lightGray);
    margin-bottom: 25px;
    font-size: 15px;
}

fieldset{
    display: flex;
    border: none;
    justify-content: space-around;
}

.form_label{
    padding-top: 14px;
    padding-left: 17px;
    background-color:hsl(211, 20%, 22%);
    color: var(--lightGray);
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.form_label:hover{
    background-color: var(--orange);
    cursor: pointer;
    color: var(--white);
}

input{
    display: none;
}

button{
    width: 290px;
    margin-top:20px;
    height: 45px;
    border: none;
    border-radius: 25px;
    background-color: var(--orange);
    font-family: var(--font-family);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 3px;
}

button:hover{
    background-color: var(--white);
    color: var(--orange);
    cursor: pointer;
}
/* Conteiner 2 */

.conteiner2{
    width: 350px;
    height: 420px;
    background-color: var(--darkBlue);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    display: none;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.tablet{
    width: 180px;
    margin: auto;
}

.selected{
    width: 200px;
    background-color: hsl(214, 18%, 23%);
    padding: 7px;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    color: hsl(25, 95%, 60%);
}




/*footer*/

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(25, 79%, 62%); 
}
